.rb-main-color {
  color: #eebf68 !important;
  background-color: #222222;
}

.rb-navbar {
  background-color: white !important;
}
.rb-search {
  color: #222222 !important;
}

.rb-footer-social {
  border-bottom: 1px solid #cbb26a;
  padding-bottom: 5px;
  width: 50%;
  text-align: center;
}
.follow {
  text-align: center;
  width: 50%;
}
